/*- Custom style -*/

// -- Put custom style under this point -- //

caption {
	text-color: #494949;
	font-style: italic;
    text-align: left;
    width: 100%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}
